@media screen and (max-width: 1500px) {
	.gallery__btn {
		width: 45%;
	}
	.colors__text {
		font-size: calc(11px + 7 * (100vw / 1920));
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}

	.menu li {
		background: none;
		padding-left: 0;
	}

	.main-center {
		position: absolute;
		top: 15%;
		left: 50%;
		transform: translateX(-50%);
	}

	.main__rolling {
		position: absolute;
		bottom: 15%;
	}

	.rolling-right {
		right: 0;
	}

	/*** matching ***/
	.gallery__title {
		font-size: calc(20px + (16 + 16 * 0.7) * ((100vw - 992px) / 1920));
	}

	/*** colors ***/
	.colors__text {
		font-size: calc(12px + (16 + 16 * 0.7) * ((100vw - 992px) / 1920));
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}

	.header-container {
		width: 100%;
	}

	.header__burger {
		margin-top: 10px;
		display: flex;
		width: 55px;
		height: 20px;
		position: relative;
		z-index: 3;
	}

	.header__burger.active:after {
		transform: scale(0);
	}

	.header__menu {
		text-align: center;
		position: fixed;
		display: block;
		top: -100%;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: var(--dark-color);
		font-weight: 600;
		font-size: 40px;
		line-height: 40px;
		z-index: -1;
		transition: top 0.3s ease 0s;
	}

	.header__menu.active {
		padding: 70px 10px 20px 10px;
		top: 30px;
	}

	.menu__item {
		font-size: 40px;
		height: auto;
		justify-content: center;
		margin-bottom: 30px;
	}

	.main__rolling {
		bottom: 10%;
	}

	/*** matching ***/
	.gallery {
		display: block;

		&__title {
			width: 35%;
			font-size: calc(16px + 16 * (100vw / 992));
		}

		&__btn {
			width: 227px;
		}

		&__item {
			width: 100%;

			img {
				width: 100%;
				height: 650px;
			}
		}
	}

	/*** colors ***/
	.colors__text {
		font-size: calc(12px + 12 * (100vw / 992));
		width: 395px;
	}

}

@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}

	.main-center {
		width: 70%;
		padding-left: 15px;
		padding-right: 15px;
	}

	/* matching */

	.gallery__title {
		font-size: calc(20px + (16 + 16 * 0.7) * ((100vw - 320px) / 920));
	}

	.gallery__item:after {
		background-size: contain;
	}

	/* colors */
	.colors {
		&__breadcrumbs {
			width: 200px;
		}

		&__title {
			width: 320px;
		}
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 100%;
	}

	.main-center {
		width: 100%;
	}

	.main-center__links a {
		font-size: 16px;
		padding-left: 3px;
		padding-right: 3px;
	}

	.main__rolling {
		bottom: 5%;
	}

	.header__phones {
		display: none;
	}

	.header__btn {
		margin-right: 0;
	}

	.header__phones {
		text-align: center;
		position: fixed;
		top: -100%;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: var(--dark-color);
		z-index: 1;
		transition: top 0.3s ease 0s;
	}

	.header__phones.active {
		top: 0;
		display: block;
		padding-top: 70px;
		transition: top 0.3s ease 0s;
	}

	.header__phones.active a {
		display: block;
		margin-right: 0;
		margin-bottom: 30px;
	}

	/*** matching ***/

	.gallery__btn {
		font-size: 16px;
		width: 45%;
		padding: 9px 8px;
	}

	.gallery__title {
		margin-bottom: 10px;
		width: 50%;
	}

	#mobile-video {
		display: block;
	}

	/*** colors ***/

	.colors__text {
		font-size: calc(12px + (12 + 10 * 0.7) * ((100vw - 320px) / 920));
		width: 70%;
	}

	.breadcrumbs {
		width: 80%;
	}


}

@media screen and (max-width: 375px) {
	.main__rolling:hover {
		width: 100%;
		z-index: 10;
	}
}

@media screen and (max-height: 500px) {
	.main-center {
		width: 70%;
		margin-top: 30px;
	}

	.main__rolling {
		bottom: 2%;
	}
}