*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: 'Akrobat', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.site-container {
  overflow: hidden;
  height: 100vh;
  background: url(../img/header-bg.jpg) no-repeat center top / cover;
}

.container {
  max-width: 1488px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  top: -100%;
  background: var(--dark-color);
  z-index: 10;
}


.d-none {
  display: none;
}