@media screen and (max-width: 1200px) {
	.container {
		width: 960px;	
	}
	.menu li {
		background: none;
		padding-left: 0;
	}
	.main-center {
		position: absolute;
		top: 15%;
		left: 50%;
		transform: translateX(-50%);
	}
	.main__rolling {
		position: absolute;
		bottom: 15%;
	}
	.rolling-right {
		right: 0;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 720px;	
	}
	.header-container {
		width: 100%;
	}
	.menu__item--phone {
		display: flex;
	}
	.header__burger {
		margin-top: 10px;
		display: flex;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger.active:after {
		transform: scale(0);
	}
	.header__menu, .phone__menu  {
		text-align: center;
		position: fixed;
		display: block;
		top: -100%;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #21222F;
		font-weight: 600;
		font-size: 40px;
		line-height: 40px;
		z-index: -1;
		transition: top 0.3s ease 0s;
	}
	.header__menu.active {
		padding: 70px 10px 20px 10px;		
		top: 30px;
	}
	.phone__menu.active {		
		top: 30px;
	}
	.menu__item {
		font-size: 40px;
		margin-bottom: 38px;
	}
	.gallery {
		display: block;
		&__title {
			width: 200px;
		}
	}
	.gallery__item img {
		width: 100%;
		height: 650px;
	}
	.gallery__item {
		width: 100%; 
	 }
}

@media screen and (max-width: 768px) {
	.container {
		width: 540px;	
	}
	.main-center {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.gallery__title {
		font-size: calc(20px + (16 + 16 * 0.7)  * ((100vw - 320px) / 1920));
	}
	.gallery__item img {
		width: 100%;
		height: auto;
	}
	.gallery__item:after {
		background-size: contain;
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 100%;	
	}
	.main-center__links a {
		font-size: 16px;
		padding-left: 3px;
		padding-right: 3px;	
	}
	.main__rolling {
		bottom: 5%;
	}
	.menu__item--phone a:not(:last-child) {		
		margin-right: 0;
	}
	.menu__item--phone {
		cursor: pointer;
	}
	.menu__item--phone {
		display: none;
	}
	.gallery__btn {
		font-size: 16px;
		width: 45%;
		padding: 9px 8px;
	}
	.gallery__title {
		margin-bottom: 10px;
	}
	#mobile-video {
		display: block;
	}

}

@media screen and (max-width: 375px) {
	.main__rolling:hover {	
		width: 100%;
		z-index: 10;
	}
}

@media screen and (max-height: 576px) {
	.main-center {
		width: 470px;
		margin-top: 30px;
	}
	.main__rolling {
		bottom: 2%;
	}
}