.colors {
    position: relative;

    &__breadcrumbs {
        margin-top: 25px;
    }

    &__title {
        display: block;
    }

    &__item {
        position: relative;

        &--front {
            opacity: 0;
            position: absolute;
            visibility: hidden;
            top: 0;
            left: 0;
            transition: .55s opacity, .55s visibility;
        }

        &--romb {
            position: absolute;
            top: 10px;
            left: 10px;
        }

        &:hover {
            .colors__title {
                display: none;
            }

            .colors__hide {
                display: block;
            }

            .colors__item--back {
                opacity: 0;
                visibility: hidden;
                transition: .55s opacity, .55s visibility;
            }

            .colors__item--front {
                opacity: 1;
                visibility: visible;
                transition: .55s opacity, .55s visibility;
            }

            .romb {
                display: block;
            }

            &::after {
                background: none;
            }
        }
    }

    &__text {
        display: block;
        font-weight: 700;
        line-height: 1.8;
        text-align: center;
        text-transform: uppercase;
        color: var(--dark-color);
        width: 63%;
        margin: 0 auto;
        font-size: calc(12px + 7 * (100vw / 1920));

        &:hover {
            font-weight: 800;
            width: calc(63% + 10px);

        }
    }
}

.romb {
    background: url('../img/romb-hover.svg') no-repeat center center;
    position: absolute;
    background-size: contain;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition: transform 0.5s ease;
}