.icon {
    margin-left: auto;
    margin-right: auto;
}

.social {
    position: fixed;
    right: 0;
    width: 120px;
    bottom: 25px;
    &__item {
        display: none;
        text-align: center;
        margin-bottom: 8px;
        &--text {
            font-family: 'Akrobat', sans-serif;
            margin-top: 4px;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            color: #21222f;
        }
    }
    &__circle {
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    &__close {
        display: none;
        
    }
    &__btn {
        text-align: center;
        margin-bottom: 17px;
        cursor: pointer;
    }
    &__img{
        margin: 0 auto;
    }
}




    
